.main {
  width: 40vw;
  padding: 10px;
  margin-top: 3vh;
}

.black {
  border: solid 1px black;
}
.spacer {
  height: 1.5vh;
}

.starsdiv {
  height: 2.5vh;
}

.star {
  width: 5vw;
  /* box-shadow: 2px 2px 12px red; */
}

.tab {
  font-size: 12px;
  padding: 2px;
}

.box {
  background-color: blue;
  width: 90px;
  height: 60px;
}

.poem-holder {
  /* #9eedbc; */
  height: 24vh;
  object-position: 0% -300px;
}

.halo {
  border-radius: 20px;
  box-shadow: 0px 0px 3px 5px lightblue;
}

.rounded {
  border-radius: 30px;
  border: 1px solid black;
}
.img-fluid {
  object-fit: cover;
  width: 100%;
}

.absolute {
  position: absolute;
  z-index: 2;
  max-width: 1300px;
}

.fixed {
  position: relative;
}

.bird {
  width: 15vw;
}
.bunnies {
  object-fit: cover;
}

.leftRound {
  border-radius: 20px 0px 0px 20px;
  overflow: auto;
}

.rightRound {
  border-radius: 0px 20px 20px 0px;
  overflow: auto;
}
